@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oooh+Baby&family=Poppins:wght@600&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap');
/*mobile first*/
*{
    margin:0;
    padding:0;
}

body {
    background-image: url("../img/fondo.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins',sans-serif;
    display: flex;
    flex-direction: column;
    height:100vh;
}

header{
    background-image: url(../img/header.jpg);
    padding-top: 1.5em;
    padding-bottom: 0.75em;
}


.black{
    background-color:black;
}

footer{
    background-image: url(../img/header.jpg);
    text-align: center;
    margin-top: 0em;
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.logo{
    margin-top: -13px;
    margin-bottom: -13px;
}

.titulo{
    background:rgba(176, 175, 123, 0.60);
}

.uno{
    color: black;
    text-align: center;
    margin-bottom: 0px;
}

.dos{
    color: black;
    text-align: center;
    border-bottom: 4px double black;
    border-top: 4px double black;
    margin-top: 0.5em;
}

p{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}

.peliculasI{
    padding-bottom: 2em;
    padding-top: 1em;
    margin: 1em;
    border: 6px solid black;
}

.peliculasP{
    padding-bottom: 2em;
    padding-top: 1em;
    margin: 1em;
    border: 6px solid black;
}

.seriesI{
    padding-bottom: 2em;
    padding-top: 1em;
    margin: 0em 1em 1em 1em;
    border: 6px solid black;
}

.seriesS{
    padding-bottom: 2em;
    padding-top: 1em;
    margin: 1em;
    border: 6px solid black;
}

.caratulas{
    margin-top: 1em;
    padding: 0.30em; 
    border: 2px solid black;
}

.caratulaP1I, .caratulaP2I, .caratulaP3I, .caratulaP4I, .caratulaS1I, .caratulaS2I, .caratulaS3I, .caratulaS4I{
    display: flex;
    justify-content: center;
}

.parrafoP1I, .parrafoP2I, .parrafoP3I, .parrafoP4I, .parrafoS1I, .parrafoS2I, .parrafoS3I, .parrafoS4I{
    border: 2px solid black;
    display: none;
}

h1{
    margin-top: 2.40em;
    font-family: 'Poppins';
}

h2{
    width: 100%;
    font-family: 'Poppins';
}

/*área de grilla*/
header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.carrusel{
    grid-area: carrusel;
}

.peliculasI{
    grid-area: peliculasI;
}

.peliculasP{
    grid-area: peliculasP;
}

.seriesI{
    grid-area: seriesI;
}

.seriesS{
    grid-area: seriesS;
}

.caratulaP1I{
    grid-area: cp1I;
}

.caratulaP2I{
    grid-area: cp2I;
}

.caratulaP3I{
    grid-area: cp3I;
}

.caratulaP4I{
    grid-area: cp4I;
}

.parrafoP1I{
    grid-area: pp1I;
}

.parrafoP2I{
    grid-area: pp2I;
}

.parrafoP3I{
    grid-area: pp3I;
}

.parrafoP4I{
    grid-area: pp4I;
}

.caratulaS1I{
    grid-area: cs1I;
}

.caratulaS2I{
    grid-area: cs2I;
}

.caratulaS3I{
    grid-area: cs3I;
}

.caratulaS4I{
    grid-area: cs4I;
}

.parrafoS1I{
    grid-area: ps1I;
}

.parrafoS2I{
    grid-area: ps2I;
}

.parrafoS3I{
    grid-area: ps3I;
}

.parrafoS4I{
    grid-area: ps4I;
}

.caratulaP1P{
    grid-area: cp1P;
}

.caratulaP2P{
    grid-area: cp2P;
}

.caratulaP3P{
    grid-area: cp3P;
}

.caratulaP4P{
    grid-area: cp4P;
}

.caratulaP5P{
    grid-area: cp5P;
}

.caratulaP6P{
    grid-area: cp6P;
}

.caratulaP7P{
    grid-area: cp7P;
}

.caratulaP8P{
    grid-area: cp8P;
}

.caratulaP9P{
    grid-area: cp9P;
}

.caratulaP10P{
    grid-area: cp10P;
}

.caratulaP11P{
    grid-area: cp11P;
}

.caratulaP12P{
    grid-area: cp12P;
}

.caratulaS1S{
    grid-area: cs1S;
}

.caratulaS2S{
    grid-area: cs2S;
}

.caratulaS3S{
    grid-area: cs3S;
}

.caratulaS4S{
    grid-area: cs4S;
}

.caratulaS5S{
    grid-area: cs5S;
}

.caratulaS6S{
    grid-area: cs6S;
}

.caratulaS7S{
    grid-area: cs7S;
}

.caratulaS8S{
    grid-area: cs8S;
}

.caratulaS9S{
    grid-area: cs9S;
}

.caratulaS10S{
    grid-area: cs10S;
}

.caratulaS11S{
    grid-area: cs11S;
}

.caratulaS12S{
    grid-area: cs12S;
}


h1{
    grid-area: h1;
}

h2{
    grid-area: h2;
}

footer{
    grid-area: foother;
}

/*fomato*/

/* index */
.envolturaI{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "peliculasI"
    "seriesI"
    "foother"
}

.peliculasI{
    display: grid;
    grid-template-areas:
    "h2"
    "cp1I"
    "cp2I"
    "cp3I"
    "cp4I"
}

.seriesI{
    display: grid;
    grid-template-areas:
    "h2"
    "cs1I"
    "cs2I"
    "cs3I"
    "cs4I"
}

/* peliculas */
.envolturaP{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "peliculasP"
    "foother"
}

.peliculasP{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-areas:
    "h2"
    "cp1P"
    "cp2P"
    "cp3P"
    "cp4P"
    "cp5P"
    "cp6P"
    "cp7P"
    "cp8P"
    "cp9P"
    "cp10P"
    "cp11P"
    "cp12P"
}

/* series */
.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-areas:
    "h2"
    "cs1S"
    "cs2S"
    "cs3S"
    "cs4S"
    "cs5S"
    "cs6S"
    "cs7S"
    "cs8S"
    "cs9S"
    "cs10S"
    "cs11S"
    "cs12S"
}

@media (min-width:500px){

/* index */
.peliculasI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cp1I cp2I"
    "cp3I cp4I"
}

.seriesI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cs1I cs2I"
    "cs3I cs4I"
}

.caratulaP1I, .caratulaP3I, .caratulaS1I, .caratulaS3I{
    display: flex;
    justify-content: left;
    margin-left: 1em;
}

.caratulaP2I, .caratulaP4I, .caratulaS2I, .caratulaS4I{
    display: flex;
    justify-content: right;
    margin-right: 1em;
} 

/* peliculas */
.envolturaP{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "peliculasP"
    "foother"
}

.peliculasP{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cp1P cp2P"
    "cp3P cp4P"
    "cp5P cp6P"
    "cp7P cp8P"
    "cp9P cp10P"
    "cp11P cp12P"
}

/* series */
.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cs1S cs2S"
    "cs3S cs4S"
    "cs5S cs6S"
    "cs7S cs8S"
    "cs9S cs10S"
    "cs11S cs12S"
}
}

@media (min-width:765px){

/* index */
.peliculasI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cp1I pp1I"
    "cp2I pp2I"
    "cp3I pp3I"
    "cp4I pp4I"
}

.seriesI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "ps1I cs1I"
    "ps2I cs2I"
    "ps3I cs3I"
    "ps4I cs4I"
}

.caratulaP1I, .caratulaP2I, .caratulaP3I, .caratulaP4I{
    display: flex;
    justify-content: left;
    margin-left: 5em;
}

.caratulaS1I, .caratulaS2I, .caratulaS3I, .caratulaS4I{
    display: flex;
    justify-content: right;
    margin-right: 5em;
} 

.parrafoP1I, .parrafoP2I, .parrafoP3I, .parrafoP4I{
    margin: 2em 5em 2em 2em;
    border-radius: 35px;
    background:rgba(176, 175, 123, 0.60);
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}

.parrafoS1I, .parrafoS2I, .parrafoS3I, .parrafoS4I{
    margin: 2em 2em 2em 5em;
    border-radius: 35px;
    background:rgba(176, 175, 123, 0.60);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;    
}

/* peliculas */
.envolturaP{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "peliculasP"
    "foother"
}

.peliculasP{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2"
    "cp1P cp2P cp3P"
    "cp4P cp5P cp6P"
    "cp7P cp8P cp9P"
    "cp10P cp11P cp12P"
}

/* series */
.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2"
    "cs1S cs2S cs3S"
    "cs4S cs5S cs6S"
    "cs7S cs8S cs9S"
    "cs10S cs11S cs12S"
}
}

@media(min-width:1024px){

/* index */
.peliculasI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cp1I pp1I"
    "pp2I cp2I"
    "cp3I pp3I"
    "pp4I cp4I"
}

.seriesI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cs1I ps1I"
    "ps2I cs2I"
    "cs3I ps3I"
    "ps4I cs4I"
}

.caratulaP1I, .caratulaP3I, .caratulaS1I, .caratulaS3I{
    display: flex;
    justify-content: left;
    margin-left: 5em;
}

.caratulaP2I, .caratulaP4I, .caratulaS2I, .caratulaS4I{
    display: flex;
    justify-content: right;
    margin-right: 5em;
} 

.parrafoP1I, .parrafoP3I, .parrafoS1I, .parrafoS3I{
    margin: 2em 5em 2em 2em;
    border-radius: 35px;
    background:rgba(176, 175, 123, 0.60);
    display: flex;
    justify-content: right;
    align-items: center;
}

.parrafoP2I, .parrafoP4I, .parrafoS2I, .parrafoS4I{
    margin: 2em 2em 2em 5em;
    border-radius: 35px;
    background:rgba(176, 175, 123, 0.60);
    display: flex;
    justify-content: left;
    align-items: center;
}

/* peliculas */
.envolturaP{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "peliculasP"
    "foother"
}

.peliculasP{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2 h2"
    "cp1P cp2P cp3P cp4P"
    "cp5P cp6P cp7P cp8P"
    "cp9P cp10P cp11P cp12P"
}

/* series */
.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2 h2"
    "cs1S cs2S cs3S cs4S"
    "cs5S cs6S cs7S cs8S"
    "cs9S cs10S cs11S cs12S"
}
}