header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.carrusel{
    grid-area: carrusel;
}

.peliculasI{
    grid-area: peliculasI;
}

.peliculasP{
    grid-area: peliculasP;
}

.seriesI{
    grid-area: seriesI;
}

.seriesS{
    grid-area: seriesS;
}

.encabezado{
    grid-area: encabezado;
}

.caratulaP1I{
    grid-area: cp1I;
}

.caratulaP2I{
    grid-area: cp2I;
}

.caratulaP3I{
    grid-area: cp3I;
}

.caratulaP4I{
    grid-area: cp4I;
}

.parrafoP1I{
    grid-area: pp1I;
}

.parrafoP2I{
    grid-area: pp2I;
}

.parrafoP3I{
    grid-area: pp3I;
}

.parrafoP4I{
    grid-area: pp4I;
}

.caratulaS1I{
    grid-area: cs1I;
}

.caratulaS2I{
    grid-area: cs2I;
}

.caratulaS3I{
    grid-area: cs3I;
}

.caratulaS4I{
    grid-area: cs4I;
}

.parrafoS1I{
    grid-area: ps1I;
}

.parrafoS2I{
    grid-area: ps2I;
}

.parrafoS3I{
    grid-area: ps3I;
}

.parrafoS4I{
    grid-area: ps4I;
}

.caratulaP1P{
    grid-area: cp1P;
}

.caratulaP2P{
    grid-area: cp2P;
}

.caratulaP3P{
    grid-area: cp3P;
}

.caratulaP4P{
    grid-area: cp4P;
}

.caratulaP5P{
    grid-area: cp5P;
}

.caratulaP6P{
    grid-area: cp6P;
}

.caratulaP7P{
    grid-area: cp7P;
}

.caratulaP8P{
    grid-area: cp8P;
}

.caratulaP9P{
    grid-area: cp9P;
}

.caratulaP10P{
    grid-area: cp10P;
}

.caratulaP11P{
    grid-area: cp11P;
}

.caratulaP12P{
    grid-area: cp12P;
}

.caratulaS1S{
    grid-area: cs1S;
}

.caratulaS2S{
    grid-area: cs2S;
}

.caratulaS3S{
    grid-area: cs3S;
}

.caratulaS4S{
    grid-area: cs4S;
}

.caratulaS5S{
    grid-area: cs5S;
}

.caratulaS6S{
    grid-area: cs6S;
}

.caratulaS7S{
    grid-area: cs7S;
}

.caratulaS8S{
    grid-area: cs8S;
}

.caratulaS9S{
    grid-area: cs9S;
}

.caratulaS10S{
    grid-area: cs10S;
}

.caratulaS11S{
    grid-area: cs11S;
}

.caratulaS12S{
    grid-area: cs12S;
}

.caratulaRandom{
    grid-area: cr;
}

.parrafoRandom{
    grid-area: pr;
}

.descRandom{
    grid-area: dr;
}

.play{
    grid-area: play;
}

.videoRandom{
    grid-area: vr;
}

h1{
    grid-area: h1;
}

h2{
    grid-area: h2;
}

footer{
    grid-area: foother;
}