/*mobile first*/

.seriesS{
    padding-bottom: 2em;
    padding-top: 1em;
    margin: 1em;
    border: 6px solid black;
}

.caratulaS1S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS2S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS3S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS4S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS5S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS6S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS7S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS8S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS9S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS10S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS11S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS12S{
    overflow: hidden;
    cursor: pointer;
        .capa{
            border: 2px solid black;
            position: absolute;
            transition:all 0.9s ease-out;
            top: 0;
            width: 100%;
            height: 100%;
            background: $fonpa;
            opacity: 0;
            visibility: hidden;
            text-align: center;
                p{
                    font-size: 0.8em;
                }
        }
}

.caratulaS1S:hover, .caratulaS2S:hover, .caratulaS3S:hover, .caratulaS4S:hover, .caratulaS5S:hover, .caratulaS6S:hover, .caratulaS7S:hover, .caratulaS8S:hover, .caratulaS9S:hover, .caratulaS10S:hover, .caratulaS11S:hover, .caratulaS12S:hover{
    transition:all 0.9s ease-out;
    transform: scale(1.5);
        .capa{
            opacity: 1;
            visibility: visible;
            h4{
                margin-top: 30px;
                margin-bottom: 50px;
            }
        }
}

/*fomato*/

.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-areas:
    "h2"
    "cs1S"
    "cs2S"
    "cs3S"
    "cs4S"
    "cs5S"
    "cs6S"
    "cs7S"
    "cs8S"
    "cs9S"
    "cs10S"
    "cs11S"
    "cs12S"
}

@media (min-width:500px){

.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h2 h2"
    "cs1S cs2S"
    "cs3S cs4S"
    "cs5S cs6S"
    "cs7S cs8S"
    "cs9S cs10S"
    "cs11S cs12S"
}
}

@media (min-width:765px){

.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2"
    "cs1S cs2S cs3S"
    "cs4S cs5S cs6S"
    "cs7S cs8S cs9S"
    "cs10S cs11S cs12S"
}
}

@media(min-width:1024px){

.envolturaS{
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "h1"
    "carrusel"
    "seriesS"
    "foother"
}

.seriesS{
    display: flex;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "h2 h2 h2 h2"
    "cs1S cs2S cs3S cs4S"
    "cs5S cs6S cs7S cs8S"
    "cs9S cs10S cs11S cs12S"
}
}